.mpwppage{
  width: 960px;
  max-width: 100%;
  margin: 0 auto;
  padding: 100px 20px;
}


.single-music .fl-page-content{
	background-color: #fff;
}

.single-gallery .fl-page-content{
	background-color: #fff;
}

.lp-screen{
	display:none;
}




// Events Calendar

#tribe-bar-form{
	background: rgba(256,256,256,0.1);

}