$phenomenon_yellow: #FEE6A0;
$phenomenon_black: #121316;
$phenomenon_blue: #0000FF;

body.page-template-page-phenomenon {
	h1.fl-post-title {
		display: none;
	}
	.phenomenon-h1 {
		font-size: 48px;
		text-align: center;
		font-weight: bold;
		margin-bottom: 0;
	}
	.post-edit-link{
		display: none;
	}

	.phenomenon-preheader{
		margin-top: 0px;
		margin-bottom: 60px;
	}
}

// Intro
.met-phenomenon-intro-panel {
	background-color: #BED7EC;
	color: $phenomenon_black;
	padding: 1em;
	margin-bottom: 2em;
    box-shadow: 0px 2px 8px 8px rgba($white, 0.6);
	h2 {
		margin-top: 0;
		color: $phenomenon_black;
	}
	h3 {
		color: $phenomenon_black;
	}
	p {
		text-indent: 2em;
	}
}

.met-phenomenon-intro-btn-container {
	display: block;
	margin-bottom: 2em;
}

.met-phenomenon-intro-submit-container {
	display: block;
	margin-bottom: 2em;
}


// Survey
.met-phenomenon-survey {
	label {
		font-size: 1.4rem;
	}
	.row{
		margin-bottom: 1em;
	}

	.met-phenomenon-survey-radios {
		display: flex;
		justify-content: space-between;
		width: 100%;
		label {
			flex-grow: 1;
			flex-basis: 14%;
			padding-left: 5px;
			padding-right: 5px;
		}
	}
	.met-phenomenon-survey-submit {
		margin-top: 2em;
		margin-bottom: 2em;
	}
	.met-phenomenon-survey-label-left {
		color: $phenomenon_yellow;
	}
}


// Btn
.btn.btn-phenomenon {
	background-color: $phenomenon_yellow;
	color: $phenomenon_black;
	border-color: $phenomenon_yellow;
	font-weight: bold;
	&:hover{
		background-color: $phenomenon_yellow;
		color: $phenomenon_black;
		border-color: $phenomenon_yellow;
	}
	&.btn-mb{
		margin-bottom: 2em;
	}
}


// Panel
.met-phenomenon-select-panel {
	background-color: $phenomenon_yellow;
	color: $phenomenon_black;
	padding: 1em;
	margin-bottom: 2em;
    box-shadow: 0px 2px 8px 8px rgba($white, 0.6);
	h2{
		color: $phenomenon_black;
		margin-bottom: 0.5em;
	}
	&-number{
		border: 5px solid $phenomenon_black;
		color: $phenomenon_black;
		font-size: 3em;
		text-decoration: none !important;
		border-radius: 100px;
		height: 90px;
		width: 90px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 10px auto;
		&:hover{
			border-color: $phenomenon_blue;
			color: $phenomenon_blue;
			text-decoration: none;
		}
		&.active{
			border-color: $phenomenon_blue;
			color: $phenomenon_blue;
			text-decoration: none;
		}
		&.disabled{
			border-color: $phenomenon_black;
			color: $phenomenon_black;
			cursor: inherit;
			opacity: 0.3;
		}
	}
}

#met-phenomenon-select-form {
	margin-top: 2em;
	margin-bottom: 2em;

	.row{
		margin-bottom: 1em;
	}
}
.met-phenomenon-select-radios{
	display: flex;
	justify-content: space-between;
	width: 100%;
	label{
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1.2em;
		line-height: 1;
		border: 1px solid #fff;
		border-radius: 100px;
		height: 30px;
		width: 30px;
		cursor: pointer;
		&:hover{

			color: $phenomenon_black;
			background-color: #fff;
		}
	}
	input[type=radio]{
		visibility: hidden;
		margin-left: -30px;
	}
	input[type=radio]:checked + label{
		color: $phenomenon_black;
		background-color: #fff;
	}
}

.met-phenomenon-select-label-left {
	font-size: 1.4rem;
	color: $phenomenon_yellow;
}

.met-phenomenon .plyr {
	margin-bottom: 2em;
	button {
		border: none;
	}
}


// Results Page
.met-phenomenon-results {
	display: block;
	padding: 1em;
	margin: 2em;
	background: $phenomenon_yellow;
	&-number {
		border: 5px solid $phenomenon_blue;
		color: $phenomenon_blue;
		font-size: 3em;
		text-decoration: none !important;
		border-radius: 100px;
		height: 90px;
		width: 90px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0.5em auto 10px;
	}
	h2{
		font-size: 6em;
		color: $phenomenon_blue;
		margin-top: 0;
	}
}
.met-phenomenon-chart {
	display: block;
	padding: 2em;
	margin: 2em;
	background: $phenomenon_yellow;
	&-legend{
		margin-bottom: 2em;
		font-weight: bold;
	}
}

.met-phenomenon-select-submit{
	margin-bottom: 2em;
}

#_met_phenomenon_viewed_intro, 
#_met_phenomenon_viewed_intro + label{
	font-size: 16px;
}

.met-phenomenon-blue {
	color: $phenomenon_blue;
}

.text-indent-none,
p.text-indent-none{
	text-indent: 0;
}
