$sensation_yellow: #FEE6A0;
$sensation_black: #121316;
$sensation_blue: #0000FF;

body.page-template-page-sensation {
	h1.fl-post-title {
		font-size: 50px;
	}
	.post-edit-link{
		display: none;
	}
}

// Intro
.met-sensation-intro-panel {
	background-color: #BED7EC;
	color: $sensation_black;
	padding: 1em;
	margin-bottom: 2em;
    box-shadow: 0px 2px 8px 8px rgba($white, 0.6);
	h2 {
		margin-top: 0;
		color: $sensation_black;
	}
	p {
		text-indent: 2em;
	}
}

.met-sensation-intro-btn-container {
	display: block;
	margin-bottom: 2em;
}

.met-sensation-intro-submit-container {
	display: block;
	margin-bottom: 2em;
}


// Survey
.met-sensation-survey {
	label {
		font-size: 1.4rem;
	}
	.row{
		margin-bottom: 1em;
	}

	.met-sensation-survey-radios {
		display: flex;
		justify-content: space-between;
		width: 100%;
		label {
			flex-grow: 1;
			flex-basis: 14%;
			padding-left: 5px;
			padding-right: 5px;
		}
	}
	.met-sensation-survey-submit {
		margin-top: 2em;
		margin-bottom: 2em;
	}
	.met-sensation-survey-label-left {
		color: $sensation_yellow;
	}
}


// Btn
.btn.btn-sensation {
	background-color: $sensation_yellow;
	color: $sensation_black;
	border-color: $sensation_yellow;
	font-weight: bold;
	&:hover{
		background-color: $sensation_yellow;
		color: $sensation_black;
		border-color: $sensation_yellow;
	}
}


// Panel
.met-sensation-select-panel {
	background-color: $sensation_yellow;
	color: $sensation_black;
	padding: 1em;
	margin-bottom: 2em;
    box-shadow: 0px 2px 8px 8px rgba($white, 0.6);
	h2{
		color: $sensation_black;
		margin-bottom: 0.5em;
	}
	&-number{
		border: 5px solid $sensation_black;
		color: $sensation_black;
		font-size: 3em;
		text-decoration: none !important;
		border-radius: 100px;
		height: 90px;
		width: 90px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 10px auto;
		&:hover{
			border-color: $sensation_blue;
			color: $sensation_blue;
			text-decoration: none;
		}
		&.active{
			border-color: $sensation_blue;
			color: $sensation_blue;
			text-decoration: none;
		}
		&.disabled{
			border-color: $sensation_black;
			color: $sensation_black;
			cursor: inherit;
			opacity: 0.3;
		}
	}
}

#met-sensation-select-form {
	margin-top: 2em;
	margin-bottom: 2em;

	.row{
		margin-bottom: 1em;
	}
}
.met-sensation-select-radios{
	display: flex;
	justify-content: space-between;
	width: 100%;
	label{
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1.2em;
		line-height: 1;
		border: 1px solid #fff;
		border-radius: 100px;
		height: 30px;
		width: 30px;
		cursor: pointer;
		&:hover{

			color: $sensation_black;
			background-color: #fff;
		}
	}
	input[type=radio]{
		visibility: hidden;
		margin-left: -30px;
	}
	input[type=radio]:checked + label{
		color: $sensation_black;
		background-color: #fff;
	}
}

.met-sensation-select-label-left {
	font-size: 1.4rem;
	color: $sensation_yellow;
}

.met-sensation .plyr {
	margin-bottom: 2em;
}