$svg-base: #eee;
$left: #FF5722;
$bottom: #73156c;
$right: #2582a8;
$top: #fff;

$music-color: rgb(19,64,64); 
$laboratory-color: rgb(22,23,25);
$gallery-color: $bottom;
$events-color: $right;

$body-bg:#121316;

$mpblue: #2582a8;
$mpblue-dk: #195770;

$primary: #777c8d;
$primary-dk: #1a1b1f; 
$primary-blk: #06161d;

$white: #f9f9fa;

$half: 350px;
$half--neg: -350px;

$font-headings: 'Montserrat', sans-serif;
$font-body: 'Open Sans', sans-serif;

$bp-md: 700px;
$bp-lg: 1100px;
$bp-xl: 1400px;